@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Luckiest Guy';
    src: url('/src/assets/fonts/LuckiestGuy-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
  }
  
  .stroke-text {
    -webkit-text-stroke: 2px white; /* Text stroke width and color */
}
